/* Google font immport */


/* Common css file */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.logo {
    margin: 0;
}

/*---------------------
 navbar section css 
 --------------------*/

 .navbar{
     
     display: flex;
     justify-content: space-between;
     padding: 20px 0;
     font-family: 'Poppins', sans-serif;
     align-items: center;
     
     
 }

 .navbar a{
     text-decoration: none;
     margin-right: 20px;
     color: black;
 }
 

/*---------------------
 banner section css 
 --------------------*/

 .banner {
     display: flex;
     justify-content: space-between;
 }

 .banner img {
     width: 400px;
     align-items: center;

 }
 .banner-img {
     text-align: center;
 }

 .half-width {
     width: 50%;
 }

 .banner h1 {
     font-size: 50px;     
 }
.cta-btn {
    padding: 10px 30px;
    background-color: #E02C6D;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 5%;
}

/*---------------------
 popular section css
 --------------------*/

 .title {
     text-align: center;
 }

 .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 20px 30px;
}

.card {
     background-color: #fff;
     width: 300px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 10px;
     border-radius: 5px;
 }
 
 .star {
     color: #FB8200;
 }
 .blank { 
     color: #5E6366;

 } 

 .seemore {
     width: 0 auto;
 }


 /* Footer section */

 footer {
     background-color: #0A0826;
 }

.fot-content {
        color: white;
        text-align: center;
}

 .social{
     text-align: center;

 }

 .icons {
     padding: 25px;
     border-radius: 25px;
     background-color: rgba(214, 214, 214, 0.329);
     color: white;
     
 }

 .content {
     padding: 20px 0;
 }

 .fot-content {
     color: white;
     text-align: center;
 }
