/* Google font immport */


/* Common css file */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.logo {
    margin: 0;
}

/*---------------------
 navbar section css 
 --------------------*/

 .navbar{
     
     display: flex;
     justify-content: space-between;
     padding: 20px 0;
     font-family: 'Poppins', sans-serif;
     align-items: center;
     
     
 }

 .navbar a{
     text-decoration: none;
     margin-right: 20px;
     color: black;
 }
 

/*---------------------
 banner section css 
 --------------------*/

 .banner {
     display: flex;
     justify-content: space-between;
 }

 .banner img {
     width: 400px;
     align-items: center;

 }
 .banner-img {
     text-align: center;
 }

 .half-width {
     width: 50%;
 }

 .banner h1 {
     font-size: 50px;     
 }
.cta-btn {
    padding: 10px 30px;
    background-color: #E02C6D;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 5%;
}
}




 .card {
     background-color: lightcyan;
     width: 300px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 10px;
     border-radius: 5px;
 }
 